* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: gray;
    font-weight: normal;
}

h1 {
    font-weight: bold;
}

.text-color {
    color: #1E90FF;
}

header {
    background-color: #1E90FF;
    background-image: url("../img/pattern.png");
    background-position-y: 3%;
    background-size: 30%;
}



#logo {
    width: 200px;
}


#logo-image {
    margin-top: 35px;
    margin-left: 5px;
}

.container {
    padding: 10px;
}


#date {
    font-size: 14px;
    color: gray;
}