* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h3 {
    color: gray;
    font-weight: normal;
}

h1 {
    font-weight: bold;
}

p {
    font-weight: 600;
}

.text-color {
    color: #1E90FF;
}

header {
    background-color: #1E90FF;
    background-image: url("../img/pattern.png");
    background-position-y: 3%;
    background-size: 30%;
}



#logo {
    width: 200px;
}


#logo-image {
    margin-top: 35px;
    margin-left: 5px;
}

.container {
    padding: 10px;
}


#date {
    font-size: 14px;
    color: gray;
}



.highlighted {
    background-color: yellow;
}


#list {
    margin-top: 25px;
    margin: 1em;
}



.table-style {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}


.table-style tbody th {
    width: 10px;
    height: 50px;
}


.table-style-head {
    background-color: #1E90FF;
    color: white;
}


.row-color {
    background-color: lightskyblue;
}